.wrapper-content-activity {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--background-color);
  width: 100%;
  border-top: 0.4vh solid;
}

.wrapper-content-activity header {
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 95%;
  padding: 25px;
  margin: 15px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.wrapper-body-activity {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 18px;
  background: var(--background-color);
  z-index: 0;
}

.wrapper-body-activity .body-satu-activity {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper-body-activity .date {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
  width: 90%;
}

.wrapper-body-activity .date .text {
  display: flex;
  justify-content: center;
  font-size: 3.5vh;
  font-weight: bold;
  letter-spacing: 1px;
}

.wrapper-body-activity .date .date-time {
  height: 58px;
  width: 50%;
  margin-top: 6px;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper-body-activity .date .date-time h3#current-time {
  font-size: 22px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 0px;
}

.wrapper-body-activity .date .date-time h3#date-today {
  display: flex;
  font-size: 20px;
  font-weight: 900;
}

.wrapper-body-activity .body-dua-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 5px;
  width: auto;
  border-radius: 10px;
  height: auto;
  padding: 15px 0px;
  height: 100%;
}

.wrapper-body-activity .body-dua-activity form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.body-dua-activity {
  text-align: center;
}

.grid-satu-activity {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  max-width: 450px;
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}
.container h3 {
  text-align: start;
}
#my_camera {
  width: 100%;
  height: 100%;
  /* margin-bottom: 10px; */
  position: relative;
}
#takephoto {
  position: relative;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  background-color: #00bfff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#takephoto a {
  color: white;
  text-decoration: none;
}
#takephoto i {
  font-size: 20px;
}
.keterangan{
  display: flex;
  width: 100%;
  height: 200px;
  margin: 4px;
  align-content: flex-start;
  justify-content: flex-start;
}
.body-dua-activity .wrapper-image {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  border: solid 2px;
  margin: 15px;
  width: 40%;
  text-align: center;
}
.buttonWrapper{
  margin: 10px 0px;
  display: flex;
  justify-content:space-between;
}
.body-dua-activity .wrapper-image .text {
  display: flex;
  margin-bottom: 5px;
}

.body-dua-activity .wrapper-image .image {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 30px;
}
.body-dua-activity .wrapper-image .image #my_camera {
  background-color: white;
  display: flex;
  align-items: center;
  width: auto !important;
  height: auto !important;
}

img.screenshot {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
}

canvas {
  display: none;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 220px;
  width: 300px;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 13vw !important;
  width: 18vw !important;
  min-width: 297px;
  min-height: 224px;
  border: 2px solid;
  object-fit: contain;
  z-index: 1;
}

.body-dua-activity .image .imageWrapper {
  border: 2px solid black;
  position: relative;
}

.body-dua-activity .image .imageWrapper video {
  height: 220px;
  width: 224px;
}

.body-dua-activity .wrapper-image button {
  height: 4vw;
  width: 4.5vw;
  min-width: 56px;
  min-height: 50px;
  border-radius: 10%;
  cursor: pointer;
  background-color: #1e90ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-dua-activity .wrapper-image button a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.body-dua-activity .wrapper-image button i {
  font-size: 34px;
}

nav.close {
  z-index: 2;
}

.body-dua-activity .wrapper-maps {
  position: relative;
  width: 65%;
  border: 2px solid;
  padding: 10px;
  margin: 15px;
  z-index: 1;
}

.body-dua-activity .wrapper-maps #map {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.body-dua-activity .grid-dua-activity {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 5px;
}

.grid-dua-activity .wrapper-activity {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid;
  /* width: 700px; */
  height: 350px;
}

.grid-dua-activity .wrapper-activity img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 220px;
  width: 280px;
  background-color: wheat;
  margin: 100px;
}

.grid-dua-activity .hasilWrapper {
  padding: 10px;
  width: 45%;
}

.grid-dua-activity .wrapper-activity .kbWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.grid-dua-activity .wrapper-activity .kbWrapper .kordinatWrapper {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}

.grid-dua-activity .wrapper-activity .kbWrapper .kordinatWrapper div {
  display: flex;
  align-items: center;
  gap: 17px;
}

.grid-dua-activity .wrapper-activity .kbWrapper .kordinatWrapper .lat input {
  position: relative;
  right: -10px;
}

.grid-dua-activity .wrapper-activity .kbWrapper .kordinatWrapper .lat span {
  left: 13px;
  position: relative;
  padding-right: 2px;
  padding-left: 1px;
}

.grid-dua-activity .wrapper-activity .kbWrapper .kordinatWrapper input {
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  padding: 0px 5px;
}

.grid-dua-activity .wrapper-activity .kbWrapper .buttonWrapper {
  display: flex;
  justify-content: space-evenly;
}

.grid-dua-activity .wrapper-activity .kbWrapper .buttonWrapper input {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  color: white;
  background: var(--background-color);
  box-shadow: -1px 5px 5px rgb(29, 29, 29);
}

@media screen and (max-width: 1024px) {
  .wrapper-body-activity {
    z-index: 0;
    height: auto;
  }

  .body-dua-activity .grid-satu-activity {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
  }

  .body-dua-activity .grid-dua-activity {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-dua-activity .wrapper-activity {
    flex-direction: column;
    height: 500px;
    width: 90%;
  }

  .body-dua-activity .wrapper-image {
    width: 90%;
    height: 280px;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
  }

  .body-dua-activity .wrapper-image .image {
    width: auto;
  }

  .body-dua-activity .wrapper-maps {
    width: 90%;
    height: 200px;
  }

  .grid-dua-activity .wrapper-activity .kbWrapper {
    height: auto;
    gap: 0;
    justify-content: space-evenly;
  }

  .body-dua-activity .wrapper-image button {
    height: 60px;
    width: 70px;
  }

  .body-dua-activity .image video {
    height: 220px !important;
    width: 280px !important;
  }

  .grid-dua-activity .hasilWrapper {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .grid-dua-activity .wrapper-activity .kbWrapper .kordinatWrapper .lat span {
    padding: 0;
  }
  .keteranganWrapper {
    size: 500px;
  }
}