* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(181deg, #00a2e9 50%, rgba(255, 255, 255, 0.63) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .container {
  padding-top: 15px;
  padding-bottom: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 35%;
  height: auto;
}

.invalid-feedback{
  margin-left: 0.5rem;
}

.card-header {
  background-color: transparent;
  width: 90%;
  padding: 0;
  border-bottom: 1px solid;
}

.card-header h3 {
  font-weight: 700;
}


.alert {
  margin-bottom: 0px;
  margin-top: 10px;
  width: auto;
  font-size: 14px;
}

body .containerTittle {
  display: flex;
  flex-direction: column;
  width: 305px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 20px;
}

body .containerTittle h2 {
  font-size: 26px;
  font-weight: 800;
}


.container .containerInput {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapperJudul {
  margin-top: 10px;
  text-align: center;
}

.wrapperJudul label {
  font-size: 19px;
  font-weight: 600;
}

body .containerInput .wrapperInput {
  height: auto;
  margin-top: 10px;
}

body .containerInput .wrapperInput input {
  border: none;
  border-radius: 15px;
  font-size: 14px;
  background-color: #d9d9d9;
}

.small {
  text-decoration: none;
  color: #19aaea;
  font-size: 12px;
  font-weight: 580;
}

.footer {
  width: 90%;
}

.button-reset {
  background: #19aaea;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;

}

.button-reset:hover {
  background: #0755e6;
  transition: 0.5s;
}

@media screen and (max-width: 576px) {
  body .container {
    width: 90%;
  }

  body .containerFooter input.login {
    width: 95%;
  }

  .wrapperJudul label {
    font-size: 16px;
    font-weight: 600;
  }

  .alert {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    width: auto;
  }
}